* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root {
    --cor7: #131a1e;
    --cor5: #1b262c;
    --cor1: #4f4e4e;
    --cor2: #3d3d3d;
    --cor3: #e6e6e6;
    --cor4: white;
    --cordefundo: #f9f9f9;
}
.clear{
    clear: both;
}
.container{
    
        max-width: 1280px;
        margin: auto;
        padding: 0 2%;
}
.w33{
    float: left;
    width: 33.3%;
}
.w44{
    float: right;
    width: auto;
}

body,html {
    background-color: var(--cor4);
    scroll-behavior: smooth;
}
/*Cabeçalho do site*/

header {
   padding: 20px 25px;
   background-color: var(--cor5);
}

.logo{
    float: left;
}
.logo a{
    color:var(--cor3);
    text-decoration: none;
    display: flex;
    align-items: center;
}
.logo h2{
    margin-left: 5px;
}

nav.menu-desktop{
    float: right;
}
nav.menu-desktop ul{
    position: relative;
    top: 8px;
}
nav.menu-desktop li{
    padding: 0 10px;
    font-weight: lighter;
    display: inline-block;
}
nav.menu-desktop a{
    color: var(--cor4);
    text-decoration: none;
}
nav.menu-desktop a:hover{
    text-decoration: underline;
}

nav.nav-list li {
    margin: 0 15px;
}
nav.nav-list a {
    text-decoration: none;
    color: var(--cor4);
    font-weight: ligher;
}
nav.nav-list a:hover {
    text-decoration: underline;
}
nav.menu-mobile {
    display: none;
    float: right;
  }
  nav.menu-mobile h2{
    cursor: pointer;
  }
  nav.menu-mobile ul {
    display: none;
    width: 100%;
    background-color: var(--cor5);
    position: absolute;
    left: 0;
    top: 53px;
    z-index: 999;
    text-align: center;
  }
  nav.menu-mobile li {
    padding: 8px 0;
    border-bottom: 1px solid var(--cor1);
  }
  nav.menu-mobile a {
    display: block;
    color: var(--cor3);
    text-decoration: none;
  }


/*Banner do site*/
section.imagem {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;

    background-color: var(--cor1);
    background-size: cover;
    color: var(--cor4);
    background-attachment: fixed;
    max-width: 100%;
}
section.imagem > .container {
    position: relative;
    z-index: 2;
}
.overlay{
    z-index: 1;
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.295);
        left: 0;
        top: 0;
    }
    .container > h1 {
        font-size: 3em;
    padding: 5px;
    text-shadow: 1px 1px 0px black;
}
.container > p {
    font-size: 25px;
    text-shadow: 1px 1px 0px black;
}
section#inicio {
    position: relative;
    width: 100%;
    height: 60vh;
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url(../image/pexels-cottonbro-studio-4489794.jpg);
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.442);
}
/*Seção sobre */ 
section#sobre {
    background-color: var(--cordefundo);
    max-height: auto;
    
    margin: 0 auto;
}

section div.container-sobre {
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

section div.container-text-image {
    padding: 50px 0;
}
section div.container-text-image h2.titulo{
    font-size: 2.5em;
    margin: 0 0 10px;
    position: relative;
    color: var(--cor5);
}

section div.container-text-image h2.titulo::before {
    content: "";
    position: absolute;
    border-bottom: 3px solid var(--cor5);
    width: 50px;
    left: auto;
    bottom: 0;
}

section div.container-text-image p {
    padding-top: 10px;
    width: auto;
    max-width: 500px;
    text-align: justify;
    font-size: 1.2em;
    font-weight: lighter;
    line-height: 30px;
}

section div.imagem {
    margin: 50px;
}
img {
    border-radius: 10px;
    max-width: 500px;
    height: 500px;
    box-shadow: -7px 8px 25px -12px rgba(0, 0, 0, 0.45);
    -webkit-box-shadow: -7px 8px 25px -12px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: -7px 8px 25px -12px rgba(0, 0, 0, 0.45);
}
/*Seção serviços*/
#servicos {
    text-align: center;
    padding: 100px 0px;
    background-color: var(--cor5);
    color: var(--cor4);
}

.conteudoservicos {
    margin: 0 auto;
}

.titulo2 {
    position: relative;
    font-size: 2em;
    font-weight: normal;
}

.titulo2::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 2px;
    background-color: var(--cor1);
    bottom: 0px;
    left: 50%;
    transform: translateX(-90%);
}


.servico1,
.servico2,
.servico3 {
    margin-top: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.servico1 img,
.servico2 img,
.servico3 img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.servico1 p,
.servico2 p,
.servico3 p {
    font-size: 18px;
    font-weight: lighter;
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .servico1,
    .servico2,
    .servico3 {
        display: block;
    }
    
    .servico1,
    .servico2,
    .servico3 img {
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 769px) {
    .servico1,
    .servico2,
    .servico3 {
        display: inline-block;
        width: 30%;
        margin-right: 20px;
        text-align: left;
        vertical-align: top;
    }
}
#contato {
    text-align: center;
    background-color: var(--cor3);
    padding: 100px 0px 0px;
    color: var(--cor5);
}

.titulo3 {
    position: relative;
    font-size: 2em;
    margin-bottom: 20px;
}

.titulo3::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: var(--cor2);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

#contato p {
    font-size: 1.2em;
    text-align: center;
    padding-bottom: 2em;
    font-weight: lighter;
}
#contato a{
    color: var(--cor2);
    text-decoration: none;
}
#contato a:hover{
    text-decoration: underline;
    color: var(--cor1);
}

@media screen and (min-width: 768px) {
    #contato form {
        max-width: 50%;
        float: center;
    }
}

iframe {
    min-width: 100%;
    min-height: 460px;
}
nav.menu-mobile{
    display: block;
}
footer.footer-1{
    background-color: var(--cor5);
    color: var(--cor3);
    padding: 20px 0;
}
footer.footer-1 p {
    margin-top: 8px;
    font-weight: lighter;
  }
  footer.footer-1 a {
    text-decoration: none;
    display: inline-block;
    color: white;
  }
  footer.footer-1 a:hover{
    text-decoration: underline;
  }
  div.group-links a {
    font-size: 18px;
    display: inline-block;
    margin: 15px 10px;
    text-decoration: none;
  }
  div.group-links a:hover {
    text-decoration: underline;
  }
  footer.footer-2 {
    padding: 15px 0;
    background-color: var(--cor7);
    text-align: center;
    color: var(--cor3);
  }

 /*Dispositivos menores que 580px*/
@media screen and (max-width:580px){
   
    section#sobre, div.container-sobre {
        width: 100%;
    }
  
 
    /*Seção Serviço*/
    .servico1,
    .servico2,
    .servico3 {
        display: block;
    }
    
    .servico1,
    .servico2,
    .servico3 img {
        width: 100%;
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 768px) {
  .w33,.w44{
    width: 100%;
    margin-bottom: 20px;
  }
    .menu-toggle {
        display: flex;
    }
    nav.menu-mobile{
        display: block;
    }
    nav.menu-desktop{
        display: none;
    }
    .servico1, .servico2, .servico3{
        display: block;
    }
    .servico1, .servico2, .servico3 img{
        margin-bottom: 10px ;
    }

    
footer.footer-1{
    text-align: center;
}
}
@media screen and (min-width: 769px) {
    .servico1,
    .servico2,
    .servico3 {
        display: inline-block;
        width: 30%;
        margin-right: 20px;
        text-align: left;
        vertical-align: top;
    }

    #contato form {
        max-width: 50%;
        margin: 0 auto;
    }
}
/* Rodapé */
footer.footer-1,
footer.footer-2 {
    text-align: center;
}

/* Menu Mobile */
nav.menu-mobile {
    display: none;
}
@media screen and (max-width: 768px) {
    nav.menu-mobile {
        display: block;
    }
}