* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --cor5: #1b262c;
    --cor1: #4f4e4e;
    --cor2: #3d3d3d;
    --cor3: #e6e6e6;
    --cor4: white;
    --cordefundo: #f9f9f9;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: var(--cor4);
}
html {
    scroll-behavior: smooth;
}

@keyframes scaleIn {
    from {
        transform: scale(0.8);
    }
    to {
        transform: scale(1);
    }
}

img {
    animation: scaleIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animate-initial {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeInScroll {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-scroll {
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.animate-scroll.animated {
    opacity: 1;
    transform: translateY(0);
}

h1,
h2,
h3 {
    animation: fadeIn 1s ease-in-out;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor2);
    color: var(--cor4);
    background-color: var(--cor5);
    text-align: left;
    padding-top: 10px;
    padding-bottom: 30px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header > div.logo {
    color: var(--cor3);
    font-size: 30px;
    margin-top: 10px;
    margin-left: 15px;
}
nav {
    display: flex;
    align-items: center;
}
.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    margin: 0 15px;
}
.nav-list a {
    text-decoration: none;
    color: var(--cor4);
    font-weight: bold;
}
.nav-list a:hover {
    text-decoration: underline;
}
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.menu-toggle span {
    height: 5px;
    width: 50px;
    background-color: var(--cor4);
    margin: 5px 10px;
    display: block;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
@media screen and (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: var(--cor5);
        text-align: center;
    }

    .nav-list.show {
        display: flex;
    }

    .nav-list li {
        margin: 10px 0;
    }
}
.menu-toggle.active span:nth-child(1) {
    transform: rotate(-50deg) translate(-5px, 6px);
}

.menu-toggle.active span:nth-child(2) {
    opacity: 0;
}

.menu-toggle.active span:nth-child(3) {
    transform: rotate(50deg) translate(-15px, -14px);
}

section.imagem {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;

    background-color: var(--cor1);
    background-size: cover;
    color: var(--cor4);
    background-attachment: fixed;
    z-index: 1;
}
section.imagem > h1 {
    font-size: 3em;
    padding: 5px;
    text-shadow: 1px 1px 0px black;
}
section.imagem > h2 {
    font-size: 2em;
    text-shadow: 1px 1px 0px black;
}
section#inicio {
    position: relative;
    width: 100%;
    height: 60vh;
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url(../image/pexels-cottonbro-studio-4489794.jpg);
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.395);
}
section#sobre {
    background-color: var(--cordefundo);
    min-height: 500px;
    padding: 100px 0;
    box-sizing: border-box;
}

section div.container-sobre {
    margin: 0 27px;
    padding: 20px 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

section div.container-texto-a-esquerda {
    text-align: justify;

    padding: 50px 20px;
}

section div.container-texto-a-esquerda h2 {
    font-size: 2.5em;
    margin: 0 0 10px;
    position: relative;
}

section div.container-texto-a-esquerda h2::before {
    content: "";
    position: absolute;
    border-bottom: 3px solid var(--cor5);
    width: 50px;
    left: 0;
    bottom: 0;
}

section div.container-texto-a-esquerda p {
    font-size: 1.2em;
    max-width: 500px;
}

section div.imagem {
    margin-left: 50px;
    margin-top: 20px;
}
img {
    max-width: 500px;
    height: 500px;
    box-shadow: -7px 8px 25px -12px rgba(0, 0, 0, 0.45);
    -webkit-box-shadow: -7px 8px 25px -12px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: -7px 8px 25px -12px rgba(0, 0, 0, 0.45);
}

#servicos {
    text-align: center;
    padding: 100px 0px;
    background-color: var(--cor5);
    color: var(--cor4);
}

.conteudoservicos {
    max-width: 800px;
    margin: 0 auto;
}

.titulo2 {
    position: relative;
    font-size: 2em;
    font-weight: normal;
}

.titulo2::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: var(--cor1);
    bottom: -19px;
    left: 50%;
    transform: translateX(-50%);
}

.servico1,
.servico2,
.servico3 {
    margin-top: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.servico1 img,
.servico2 img,
.servico3 img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.servico1 p,
.servico2 p,
.servico3 p {
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .servico1,
    .servico2,
    .servico3 {
        display: block;
    }

    .servico1,
    .servico2,
    .servico3 img {
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 769px) {
    .servico1,
    .servico2,
    .servico3 {
        display: inline-block;
        width: 30%;
        margin-right: 20px;
        text-align: left;
        vertical-align: top;
    }
}
#contato {
    text-align: center;
    background-color: var(--cor3);
    padding: 100px 0 150px;
    color: var(--cor5);
}

.titulo3 {
    position: relative;
    font-size: 2em;
    margin-bottom: 20px;
}

.titulo3::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: var(--cor2);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

#contato p {
    font-size: 1.2em;
    text-align: center;
}

#contato form {
    background-color: var(--cor5);
    padding: 20px;
    border-radius: 5px;
    margin: 20px auto;
    width: 100%;
    max-width: 100%;
}

#contato form input[type="text"],
#contato form input[type="tel"],
#contato form input[type="email"],
#contato form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    display: block;
}

#contato form input[type="submit"] {
    width: 100%;
    background-color: var(--cor3);
    color: var(--cor5);
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    display: block;
    margin-top: 10px;
}

@media screen and (min-width: 768px) {
    #contato form {
        max-width: 50%;
        float: center;
    }
}

iframe {
    min-width: 100%;
    height: 450px;
}

footer {
    color: var(--cor3);
    font-weight: normal;
    background-color: var(--cor5);
    padding-top: 40px;
    padding-bottom: 100px;
    overflow: hidden;
}

footer div.footer {
    margin: 0 15px;
    padding: 0 15px;
    overflow: hidden;
    float: left;
}

footer a {
    color: var(--cor1);
    text-decoration: none;
}

footer div.navegationfooter {
    padding: 0 15px;
    overflow: hidden;
    float: right;
}

footer ul.pagesnaveg {
    margin-bottom: 15px;
    padding: 0;
    list-style: none;
}

footer ul > li {
    display: inline-block;
    list-style: none;
    min-width: 50px;
}

footer ul > li > a {
    margin: 0 8px;
}

footer ul > li > a > span {
    color: var(--cor3);
}

@media screen and (max-width: 768px) {
    footer ul.pagesnaveg {
        text-align: center;
    }

    footer ul > li {
        display: block;
        margin-bottom: 10px;
    }

    footer ul > li > a {
        display: block;
        margin-right: 0;
    }
}

footer ul > li > a {
    display: inline-block;
    margin-right: 8px;
}

footer ul > li > a > span {
    color: var(--cor3);
}
@media screen and (max-width: 768px) {
    footer ul.pagesnaveg {
        text-align: center;
    }

    footer ul > li {
        display: block;
        margin-bottom: 10px;
    }

    footer ul > li > a {
        display: block;
        margin-right: 0;
    }
}
