*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --cor5:#1B262C;
    --cor1:#4f4e4e;
    --cor2:#3D3D3D;
    --cor3:#E6E6E6;
    --cor4:white;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    background-color:var(--cor5);
    text-align: left;
    padding-top: 10px;
    padding-bottom: 30px;
}
header > h1{
    color: var(--cor3);
    margin-top: 10px;
    margin-left: 15px;
}
nav{
    float: right;
    padding: 10px;
}
nav > a {
    display: inline-block;
            padding: 10px;
            text-decoration: none;
            color: var(--cor3);
            font-weight: bold;
            
            
        }
        nav > a:hover{
            color: var(--cor4) ;
            text-decoration: underline;
        }

section > h1, h2{
    text-align: center;
}
section.imagem{
    display: flex;
    justify-content: center;
    text-align: center;
    z-index: 1;
    flex-direction: column;
    



    background-color: rgb(45, 45, 45);
    background-size: cover;
    color: white;
    background-attachment: fixed;
    z-index: 1;
}
section.imagem > h1{
    font-size: 3em;
    padding:5px;
    text-shadow: 1px 1px 0px black;
   
}
section.imagem > h2{
    font-size: 2em;
    text-shadow: 1px 1px 0px black;
}
section#img1{
    position: relative;
    width: 100%;
    height: 40vh;
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url(../image/pexels-cottonbro-studio-4489794.jpg);
    background-size: cover;
    background-position: center ;
    overflow: hidden;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.395);
}

section#sobre img{
    display: block;
    float: right;
    margin-left: auto;
    margin-right: 20px;
    
    max-width: 50%;
    height: auto;
    

}
iframe{
    min-width: 100%;
    height: 450px;
}
footer{
    color: var(--cor3);
    font-weight: normal;
    background-color: var(--cor5);
    padding-top: 40px;
    padding-bottom: 100px;
    overflow: hidden;
}
footer div.footer{
     margin: 0px 117px;
    padding: 0px 15px;
    overflow: hidden;
    float: left;
}
footer a{
    color: var(--cor1);
    text-decoration: none;
}
footer div.navegationfooter{
    padding: 0px 15px;
    overflow: hidden;
    float: right;
}
footer ul.pagesnaveg{
    margin-bottom: 15px;
}
footer ul>li{
    display: inline-block;
    list-style: none;
    min-width: 50px;

}
footer ul>li>a{
    margin: 0px 8px;
}
footer ul>li>a>span{
    color: var(--cor3);
}

